/* popup animation */
@keyframes anim{
    
    100% {
         transform: scale(10);
    }
}
@keyframes anim2
{
    0%
    {
       transform: scale(10)
    }
    100%
    {
        transform: scale(0)
    }
}
/* Size of container */
.container 
{
    
    position: absolute;
    
    width: 1440px;
    height: 100%;
}
/* Image size and position */
#image 
{
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;
}
/* Text size, font and position */
div.container2 
{
    
    position: absolute;
    width: 380px;
    height: 250px;
    left: 830px;
    top: 136px;
    font-family: 'Roboto', sans-serif;
}
#title
{
    color: #121212;
}
#t1 
{
    color: #121212;;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;  
}
.btn
{
    color: #FFFFFF;
    width: 128px;
    height: 48px;
    border-radius: 32px;
    border: solid #E4C1AE 1px;
    background: #E4C1AE;
    font-weight: bold;

}
.btn2
{
    color: #FFFFFF;
    width: 128px;
    height: 48px;
    border-radius: 32px;
    border: solid #E4C1AE 1px;
    background: #E4C1AE;
    font-weight: bold;
}
.btn:hover 
{
    cursor: pointer;
    background: #d4a991;
}
.btn:active
{
    background: #c08c70;
}

.btn-hide
{
    display: disabled;
    
    opacity: 0.5;
    background: #d4a991;
    color: #FFFFFF;
}

.box{
    animation: anim 0.2s linear forwards;
    position: absolute;
    width: 92px;
    height: 21px;
    left: 700px;
    top: 450px;
    background-color: #FFFFFF;

}
/* background color when we click the button */
.bg {
    background-color: rgb(137,137,137);
    opacity: 0.4;
    
}
.box-content
{
    font-family:"Roboto", sans-serif;
    position: absolute;
    width: 380px;
    height: 50px;
    left: calc(20% - 24px/2 + 1px);
    top: calc(70% - 24px/2 + 1px);
    font-size: 1.6px;
}
.close-btn {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 2px;
    height: 4px;
    right: calc(32% - 50px/2);
    top: calc(25% - 50px/2);
    color: #121212;
    font-size: 2px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.reset-btn {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: calc(100% - 90px/2);
    top: calc(100% - 30px/2);
    width: 9.8px;
    height: 4.8px;
    color: white;
    border-radius: 32px;
    border: solid #E4C1AE 1px;
    background: #E4C1AE;
    font-size: 2px;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    line-height: 1.0px;
    cursor: pointer;
}
